/* Estilo geral do layout (exemplo) */
.dashboard-layout {
  display: flex; /* Para sidebar e conteúdo principal lado a lado */
  min-height: 100vh;
}

.LateralBar {
  width: 200px; /* Largura da sua sidebar */
  background-color: #f0f0f0;
  padding: 20px;
}

.conteudo {
  margin-left: 270px; 
  padding: 20px;
  background-color: #ffffff;
}


.reports-container {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px; 
  margin-top: 20px;
}

.report-card {
  flex: 1; 
  margin: 50px;
  height: 500px;
  min-width: 300px;
  
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.report-card h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #333;
}

.report-card canvas {
  width: 100% !important;
  height: auto !important; 
}