.site-header {
  background-color: #fff9f9;
  padding: 20px 20px;
  border-bottom: 1px solid #43090900; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}


.header-container {
  max-width: 1200px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.logo {
  height: 40px; 
  width: auto; 
}


.button-nav {
  display: flex;
  gap: 15px;
}

.auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 19px;
  
  font-size: 16px; 
 
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out; 

  text-decoration: none; 
}

.auth-button.login {
  background-color: #ffffff;
  border-color: #ff6767;
  color: #ff6767;
}

.auth-button.login:hover {
  background-color: #b8001f; 
  color: #fff0f0; 
}


.auth-button.signup {
  background-color: #b8001f;
  color: #fff0f0;
  border-color: #ff6767;
}

.auth-button.signup:hover {
  background-color: #fff0f0; 
  color: #b8001f;
}